.stat-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.stat-label {
  width: 90px;
  font-weight: bold;
  color: #6e6e6e;
  font-size: 14px;
}

.stat-bar-bg {
  flex: 1;
  height: 10px;
  background: #ac0909;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 10px;
}



.stat-bar-fill {
  height: 100%;
  border-radius: 10px;
  transition: width 0.5s ease;
}

.stat-value {
  width: 35px;
  text-align: right;
  font-size: 14px;
  font-weight: bold;
}


