.Contenedor-principal{
  display: flex;
    flex-direction: column;
    padding: 16px;
    border-radius: 24px;
    text-align: center;
    color: white;
    border: 1px solid #ffffff;
    min-height: 260px;
    transition: .4s;
    width: 270px;
}

h4{
    margin-top: 10px;
}

.Contenedor-principal:hover{
    background-color: var(--hover-bg, rgba(189, 0, 227, 0.671));
    cursor: pointer;
    transform: translate3d(0px, 0px, 0px) scale3d(0.9, 0.9, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}    


.tipos{
    display: flex;
    flex-direction: row;
}

.imagen-pokemon{
    width: 100%;
    max-height: 220px;
    object-fit: contain;
}

.tiposimg{
    height: 40px;
    border-radius: 60%;
}

.tipoPrimario{
display: flex;
align-items: center;
border-radius: 40px;
height: 38px;
margin-top: 30px;
margin-right: 10px;
width: 50%;
}

.tipoSecundario{
    margin-top: 30px;
width: 50%;
display: flex;
align-items: center;
border-radius: 40px;
height: 38px;
}


.tipoSecundario h5, .tipoPrimario h5{
    font-size: 18px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



@media (max-width: 900px){
    .todos{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px){
    .todos{
        grid-template-columns: 1fr;
    }
}