.Contenedor-principal{
      display: flex;
    padding: 10px;
    border-radius: 30px;
    flex-direction: column;
    text-align: center;
    color: white;
    height: 350px;
    border: solid 1px #ffffff;
    transition: all 0.3s;
    width: 250px;
}

.Contenedor-principal:hover{
    background-color: var(--hover-bg, rgba(189, 0, 227, 0.671));
    cursor: pointer;
    transform: translate3d(0px, 0px, 0px) scale3d(0.9, 0.9, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}    


.tipos{
    display: flex;
    flex-direction: row;

}

.imagen-pokemon{
    height: 300px;
}

.tiposimg{
    height: 40px;
    border-radius: 60%;
    
}

.tipoPrimario{
width: 50%;
display: flex;
align-items: center;
width: 50%;
display: flex;
align-items: center;
border-radius: 40px;
height: 38px;
margin-top: 30px;
margin-right: 10px;
}

.tipoSecundario{
    margin-top: 30px;
width: 50%;
display: flex;
align-items: center;
border-radius: 40px;
height: 38px;
}


.tipoSecundario h5, .tipoPrimario h5{
    font-size: 18px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}