

.pesoYesasvainas {
    transform-style: preserve-3d;
    transform: rotateY(90deg);
    filter: drop-shadow(0 0px 20px #00000054);
}

.intento-perspectiva {
    transform-style: preserve-3d;
    transform: rotateY(-90deg);
    filter: drop-shadow(0 0px 20px #00000054);
}


.caja-arriba {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.85);
    width: 100%;
    max-width: 1400px;
    height: 500px;
    position: relative;
    perspective: 500px;
}



.pokemon-arriba {
    height: 400px;
}


.imagen-pokemon {
    width: 100%;
    max-height: 220px;
    object-fit: contain;
}

.tiposimg {
    height: 40px;
    border-radius: 60%;
}

.caja-arriba .tipoPrimario {
    width: 150px;
    display: flex;
    
    align-items: center;
    border-radius: 40px;
    margin-top: 30px;
    margin-right: 10px;
filter: drop-shadow(0px 0px 10px var(--colorFondo));
background-color: var(--colorFondo);
}

.caja-arriba .tipoSecundario {
filter: drop-shadow(0px 0px 10px var(--colorFondo));
background-color: var(--colorFondo);
    margin-top: 30px;
   width: 150px;
    display: flex;
    align-items: center;
    border-radius: 40px;
    
    
}



.tipoSecundario h5,
.tipoPrimario h5 {
    font-size: 18px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}