*{
    margin: 0;
    padding: 0;
    font-family: arial;
}

body{
    display: flex;
    height: 100vh;
     overflow-x: hidden;
    overflow-y: auto;
}

.App{
    display: flex;
    flex: 1;
    min-height: 100vh;
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    filter: blur(4px) brightness(0.7);
    opacity: 1;
}