*{
    margin: 0;
    padding: 0;
    font-family: arial;
}

body{
      min-height: 100vh;
    overflow-x: hidden;
}

.App{
    min-height: 100vh;
    display: flex;
    justify-content: center;  
    align-items: flex-start;  
    padding: 40px 0;
    position: relative;
    z-index: 1;
   
}

.video-container {
    position: fixed;
    inset: 0;          
    overflow: hidden;
    z-index: -1;

}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    filter: blur(4px) brightness(0.7);
    opacity: 1;
}


.todos{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
    width: min(700px, 95%);
    margin: 0 auto;
    padding: 20px;
}


